.container {
    display: flex;
}

.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.fill-100 {
    width: 100%;
}

.fill-80 {
    width: 80%;
}

.fill-50 {
    width: 50%;
}

.fill-60 {

}