html{
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*body {*/
/*    width: 100%;*/
/*    padding-right: 15px;*/
/*    padding-left: 15px;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 1rem;*/
/*    font-weight: 400;*/
/*    line-height: 1.5;*/
/*    color: #212529;*/
/*    text-align: left;*/
/*    background-color: #fff;*/
/*}*/

.flex-container-center {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*.center {*/
/*    text-align: center;*/
/*}*/

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    text-align: center;
    vertical-align: center;
}

.col-10, .col-50, .col-90 .col-100 {
    text-align: center;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
}

.col-10 {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}

.col-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-90 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
}

.col-100 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}